@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Отказано в доступе";
}

<header>
    <h1 class="text-danger">Упс...</h1>
    <p class="text-danger">Кажется эта страница не доступна для Вас!</p>
</header>
