@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста проверьте Вашу почту. Вы Вам отправили письмо со ссылкой для подтвержения восстановления пароля.
</p>
