@page
@model LockoutModel
@{
    ViewData["Title"] = "Заблокирвано";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ваш аккаунт был заблокирован, пожалуйста попробуйте позже.</p>
</header>
