@using WebSurvey.Models.Survey
@model CreateSurveyModel
@{
    ViewData["Title"] = "Создание опроса";
}

<script id="QuestionBlock" type="text/html">
    <div class = "row">
        <h5 id = "questionHeader-{questionNumber}">Вопрос #{questionNumber}</h5>
    </div>

    <div class="input-group mb-3">
        <input id = "Questions[{questionNumber}].Name" name = "Questions[{questionNumber}].Name" class="form-control" placeholder = "Название"/>
        <div class="input-group-append">
            <select class="form-select" id = "Questions[{questionNumber}].Type" name = "Questions[{questionNumber}].Type" onchange = "OnSelectAnswer({questionNumber})">
                <option value="0" selected>Текст</option>
                <option value="1">Флажки</option>
                <option value="2">Радио-кнопки</option>
                <option value="3">Целое число</option>
                <option value="4">Дробное число</option>
            </select>
        </div>
        <div class="input-group-append">
            <a class = "btn btn-outline-danger" id = 'btn-delete-{questionNumber}' onclick = "DeleteAndCheckQuestion({questionNumber})"><i class="bi bi-x-circle-fill"></i></a>
        </div>
    </div>
</script>

<script id="OptionBlock" type="text/html">
    <div class="input-group mb-3" style = "margin-left:20px;">
        <input id = "Questions[{questionNumber}].Options[{optionNumber}].Text" name = "Questions[{questionNumber}].Options[{optionNumber}].Text" class="form-control" placeholder = "Название опции"/>
        <div class="input-group-append">
            <a class = "btn btn-outline-danger" id = "delete-question-{questionNumber}-option-{optionNumber}" onclick = 'DeleteAndCheckOption({questionNumber},{optionNumber})'><i class="bi bi-x-circle-fill"></i></a>
        </div>
    </div>
</script>

<script id="OptionAddBtnBlock" type="text/html">
    <a class="btn btn-outline-info" style = "margin-left:32px;" id = "addOptionBtn-{questionNumber}" onclick = "AddOption({questionNumber})"><i class="bi bi-plus-circle-dotted"></i> Добавить опцию</a>
</script>

<script src="~/js//CreateSurvey.js"></script>

<h2><i class="bi bi-plus-circle"></i> Создание опроса</h2>
<hr />
<form method="post">
    <div class="container">
        <div class="row">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <label asp-for="Description"></label>
            @Html.TextAreaFor(x=>x.Description)
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <h2><i class="bi bi-gear"></i> Настройки</h2>

    <div class="form-check">
        <input asp-for="IsAnonimous" class="form-check-input" type="checkbox" id="anonBox" onchange="CheckAnonimOneOff()">
        <label asp-for="IsAnonimous" class="form-check-label"></label>
    </div>
    <div class="form-check">
        <input asp-for="IsOneOff" class="form-check-input" type="checkbox" id="oneBox" onchange="CheckAnonimOneOff()">
        <label asp-for="IsOneOff" class="form-check-label"></label>
        <span asp-validation-for="IsOneOff" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="IsPassworded" class="form-check-input" type="checkbox" id="checkHidingBlock" onchange="OnPasswordNeeded()">
        <label asp-for="IsPassworded" class="form-check-label"></label>
    </div>
    @if (Model != null && Model.IsPassworded)
    {
        <div id="hidingBlock">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    }
    else
    {
        <div id="hidingBlock" hidden="hidden">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    }
    <hr />
    <div class="text-danger">
        <span asp-validation-for="Questions"></span>
    </div>
    @if (Model?.Questions != null)
    {
        for (int i = 0; i < Model.Questions.Length; i++)
        {
            <div class="container mt-3" id="@i" name="questionContainer">
                <div class="row">
                    <h5 id="questionHeader-@i">Вопрос #@i</h5>
                </div>

                <span asp-validation-for="Questions[i].Name" id="validation-@i" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Questions[i].Name" class="form-control" placeholder="Название" />
                    <div class="input-group-append">
                        <select asp-for="Questions[i].Type" class="form-select" onchange="OnSelectAnswer(@i)">
                            @switch (Model.Questions[i].Type)
                            {
                                case QuestionType.Text:
                                    <option value="0" selected>Текст</option>
                                    <option value="1">Флажки</option>
                                    <option value="2">Радио-кнопки</option>
                                    <option value="3">Целое число</option>
                                    <option value="4">Дробное число</option>
                                    break;
                                case QuestionType.Check:
                                    <option value="0">Текст</option>
                                    <option value="1" selected>Флажки</option>
                                    <option value="2">Радио-кнопки</option>
                                    <option value="3">Целое число</option>
                                    <option value="4">Дробное число</option>
                                    break;
                                case QuestionType.Radio:
                                    <option value="0">Текст</option>
                                    <option value="1">Флажки</option>
                                    <option value="2" selected>Радио-кнопки</option>
                                    <option value="3">Целое число</option>
                                    <option value="4">Дробное число</option>
                                    break;
                                case QuestionType.Integer:
                                    <option value="0">Текст</option>
                                    <option value="1">Флажки</option>
                                    <option value="2">Радио-кнопки</option>
                                    <option value="3" selected>Целое число</option>
                                    <option value="4">Дробное число</option>
                                    break;
                                case QuestionType.Double:
                                    <option value="0">Текст</option>
                                    <option value="1">Флажки</option>
                                    <option value="2">Радио-кнопки</option>
                                    <option value="3">Целое число</option>
                                    <option value="4" selected>Дробное число</option>
                                    break;
                            }
                        </select>
                    </div>
                    <div class="input-group-append">
                        <a class="btn btn-outline-danger" id='btn-delete-@i' onclick="DeleteAndCheckQuestion(@i)"><i class="bi bi-x-circle-fill"></i></a>
                    </div>
                </div>
                <span asp-validation-for="Questions[i].Options" class="text-danger"></span>
            </div>
            @if (Model.Questions[i].Type != QuestionType.Text)
            {
                <div>
                    @for (int j = 0; j < Model.Questions[i].Options?.Length; j++)
                    {
                        string containerName = $"optionContainerOf{i}";
                        <div class="container" name="@containerName" id="question-@i-option-@j">
                            <span asp-validation-for="Questions[i].Options[j].Text" id="validation-@i-@j" class="text-danger"></span>
                            <div class="input-group mb-3" style="margin-left:20px;">
                                <input asp-for="Questions[i].Options[j].Text" class="form-control" placeholder="Название опции" />
                                <div class="input-group-append">
                                    <a class="btn btn-outline-danger" id="delete-question-@i-option-@j" onclick='DeleteAndCheckOption(@i,@j)'><i class="bi bi-x-circle-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                    <a class="btn btn-outline-info" id="addOptionBtn-@i" onclick="AddOption(@i)">Добавить опцию</a>
                </div>
            }
        }
    }
    <hr id="addQuestionPoint">
    <a class="btn btn-outline-info" id="addQuestionBtn" onclick="AddQuestion()"><i class="bi bi-plus-circle"></i> Добавить вопрос</a>
    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send-fill"></i> Создать</button>
</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}