@model int
@{
    ViewData["Title"] = "Удаление опроса";
}

<h2>Закрытие опроса #@Model</h2>
<div class="container">
    <div class="justify-content-center">
        <form method="post">
            <a class="btn btn-outline-primary" asp-controller="Survey" asp-action="MySurveys"> <i class="bi bi-arrow-return-left"></i> Назад</a>
            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i> Удалить</button>
        </form>
    </div>
</div>