@model IndexSearchModel
@{
    ViewData["Title"] = "Выбор опроса";
}

<div class="text-center">
    <h1>Опросы</h1>
</div>

<h6>Опросы на нашей платформе бывают разные:</h6>
<ul>
    <li>Стандартные - Имя или Никнейм, указанный в Вашем профиле будут отображаься в результатах опроса</li>
    <li>Анонимные - Никакие данные, кроме указанных Вами в профиле не будут отображаться</li>
</ul>
<h6>Кроме того они отличаюся по уровнб доступа:</h6>
<ul>
    <li>Публичные - Любой пользователь платформы моежт пройти опрос</li>
    <li>Запароленные - Только пользователи имеющие пароль могут пройти</li>
</ul>
<h6>Также отличаются по количеству попыток заполнить опрос</h6>
<ul>
    <li>Одноразовый - Может быть пройден пользователем лишь единожды</li>
    <li>Многоразовый - Может быть пройден пользователем сколько угодно раз</li>
</ul>

<form method="post">
    <h5>Введите номер опроса:</h5>
    <input asp-for="Search" class="form-control mb-1" aria-required="true" />
    <span asp-validation-for="Search"></span>
    <button type="submit" class="btn btn-outline-primary"></button>
</form>