@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Здесь Вы сможете создавать и проходить опросы!</p>
</div>

<div class="container row justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/PlusImage.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Создать опрос</h5>
            <p class="card-text">...</p>
            <a asp-controller="Survey" asp-action="Create" class="btn btn-outline-primary" style="width: 100%">Создать</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/VoteImage.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Пройти опрос</h5>
            <p class="card-text">...</p>
            <a asp-controller="Survey" asp-action="Select" class="btn btn-outline-primary" style="width: 100%">Пройти</a>
        </div>
    </div>
</div>