@model SearchModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Здесь Вы сможете создавать и проходить опросы!</p>
</div>

<div class="container row justify-content-center">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/PlusImage.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Создать опрос</h5>
            <p class="card-text">Создавайте свои собственные опросы с мопощью генератора опросов. Для использования зарегистрируйтсь.</p>
            <a asp-controller="Survey" asp-action="Create" class="btn btn-outline-primary" style="width: 100%">Создать</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/VoteImage.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Пройти опрос</h5>
            <form method="post">
                <label class = "card-text">Введите номер опроса:</label>
                <input asp-for="Search" class="form-control mb-1" placeholder = "0" aria-required = "true">
                <span asp-validation-for="Search" class="text-danger"></span>
                <button type = "submit" class = "btn btn-outline-primary" style="width: 100%">Пройти</button>
            </form>
        </div>
    </div>
</div>

