@using WebSurvey.Models.Voting
@model VotingCreateModel
@{
    ViewData["Title"] = "Создание голосования";
}

<script id="OptionBlock" type="text/html">
    <div class="input-group mb-3">
        <input id = "Options[{Number}].Text" name = "Options[{Number}].Text" class="form-control" placeholder = "Название опции"/>
        <div class="input-group-append">
            <a class = "btn btn-outline-danger" id = "delete-{Number}" onclick = 'DeleteOption({Number})'><i class="bi bi-x-circle-fill"></i></a>
        </div>
    </div>
</script>

<script>
    function OnPasswordNeeded()
    {
        var hidingBlock = document.getElementById('hidingBlock');
        if (document.getElementById('checkHidingBlock').checked)
        {
            hidingBlock.removeAttribute('hidden');
        }
        else
        {
            hidingBlock.setAttribute('hidden','hidden');
        }
    }

    function AddOption()
    {
        var currentCount = document.getElementsByName('optionContainer').length;
        var div = document.createElement('div');
        div.setAttribute('class', 'container mt-3');
        div.setAttribute('name', 'optionContainer');
        div.setAttribute('id', currentCount);
        var elementAfter = document.getElementById('addOptionBtn');
        div.innerHTML = document.getElementById('OptionBlock').innerHTML.replace(/{Number}/g, currentCount);
        elementAfter.insertAdjacentElement('beforebegin', div);
        $("input[id='Options[" + currentCount + "].Text']").rules('remove', 'required');
        div.scrollIntoView();
    }

    function DeleteOption(number)
    {
        $("input[id='Options[" + number + "].Text']").rules('remove', 'required');
        document.getElementById(number).remove();
        RenameAllOptions();
    }

    function RenameAllOptions()
    {
        var options = document.getElementsByName('optionContainer');
        for (var i = 0; i < options.length; i++)
        {
            var ID = options[i].id;
            options[i].setAttribute('id', i);
            var button = document.getElementById('delete-' + ID);
            button.setAttribute('id','delete-' + i);
            button.setAttribute('onclick','DeleteOption(' + i + ')');
            var input = document.getElementById('Options[' + ID + '].Text');
            if (input == null)
            {
                input = document.getElementById('Options_' + ID + '__Text');
            }
            input.setAttribute('id','Options[' + i + '].Text');
            input.setAttribute('name','Options[' + i + '].Text');
            var validation = document.getElementById('validation-' + ID);
            if (validation != null)
            {
                validation.setAttribute('id','validation-' + i);
                validation.setAttribute('data-valmsg-for','Options[' + i + '].Text');
            }
        }
    }
</script>

<h2><i class="bi bi-plus-circle"></i> Создание голосования</h2>
<hr />
<form method="post">
    <div class="container">
        <div class="row">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <label asp-for="Description"></label>
            @Html.TextAreaFor(x=>x.Description)
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <h2><i class="bi bi-gear"></i> Настройки</h2>

    <div class="form-check">
        <input asp-for="IsPassworded" class="form-check-input" type="checkbox" id="checkHidingBlock" onchange="OnPasswordNeeded()">
        <label asp-for="IsPassworded" class="form-check-label"></label>
    </div>
    <div id="hidingBlock" hidden="hidden">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <hr />
    <span asp-validation-for="Options" class="text-danger"></span>
    @if (Model?.Options != null)
    {
        @for (int i = 0; i < Model.Options.Count; i++)
        {
            <div class="container mt-3" name="optionContainer" id="@i">
                <span asp-validation-for="Options[i].Text" id = "validation-@i" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Options[i].Text" class="form-control" placeholder="Название опции" />
                    <div class="input-group-append">
                        <a class="btn btn-outline-danger" id="delete-@i" onclick='DeleteOption(@i)'><i class="bi bi-x-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        }
    }
    <a class="btn btn-outline-info" id="addOptionBtn" onclick="AddOption()"><i class="bi bi-plus-circle"></i> Добавить опцию</a>
    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send-fill"></i> Создать</button>
</form>


@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}