@using WebSurvey.Models.Voting
@model VotingCreateModel
@{
    ViewData["Title"] = "Создание голосования";
}

<script id="OptionBlock" type="text/html">
    <div class="input-group mb-3">
        <input id = "Options[{Number}].Text" name = "Options[{Number}].Text" class="form-control" placeholder = "Название опции"/>
        <div class="input-group-append">
            <a class = "btn btn-outline-danger" id = "delete-{Number}" onclick = 'DeleteOption({Number})'><i class="bi bi-x-circle-fill"></i></a>
        </div>
    </div>
</script>

<script src="~/js//CreateVoting.js"></script>

<h2><i class="bi bi-plus-circle"></i> Создание голосования</h2>
<hr />
<form method="post">
    <div class="container">
        <div class="row">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <label asp-for="Description"></label>
            @Html.TextAreaFor(x=>x.Description)
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <h2><i class="bi bi-gear"></i> Настройки</h2>

    <div class="form-check">
        <input asp-for="IsPassworded" class="form-check-input" type="checkbox" id="checkHidingBlock" onchange="OnPasswordNeeded()">
        <label asp-for="IsPassworded" class="form-check-label"></label>
    </div>
    <div id="hidingBlock" hidden="hidden">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <hr />
    <span asp-validation-for="Options" class="text-danger"></span>
    @if (Model?.Options != null)
    {
        @for (int i = 0; i < Model.Options.Count; i++)
        {
            <div class="container mt-3" name="optionContainer" id="@i">
                <span asp-validation-for="Options[i].Text" id = "validation-@i" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Options[i].Text" class="form-control" placeholder="Название опции" />
                    <div class="input-group-append">
                        <a class="btn btn-outline-danger" id="delete-@i" onclick='DeleteOption(@i)'><i class="bi bi-x-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        }
    }
    <a class="btn btn-outline-info" id="addOptionBtn" onclick="AddOption()"><i class="bi bi-plus-circle"></i> Добавить опцию</a>
    <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send-fill"></i> Создать</button>
</form>


@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}