@model int
@{
    ViewData["Title"] = "Открытие голосования";
}

<h2>Открытие голосования #@Model</h2>
<div class="container justify-content-center">
    <form method="post">
    <a class="btn btn-outline-primary" asp-controller="Voting" asp-action="MyVotings">Назад</a>
        <button class="btn btn-outline-success" type="submit">Открыть</button>
    </form>
</div>